# === Garder uniquement ce qui est utile dans un module Odoo ===
# (les autres fichiers seront ignorés par défaut)

# Autoriser ces fichiers/dossiers
!__manifest__.py
!__init__.py
!models/
!views/
!controllers/
!data/
!report/
!security/
!wizards/
!static/

# === Fichiers Python à ignorer ===
__pycache__/
*.pyc
*.pyo
*.pyd

# === Fichiers temporaires ===
*.log
*.pot
*.mo
*.po~
*.swp
*~
*.bak
*.tmp

# === Environnements virtuels ===
venv/
.env/
.venv/
env/
ENV/

# === IDE/éditeurs ===
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# === OS ===
.DS_Store
Thumbs.db

